<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/stylesheets/functions.js"></script>
  </head>
  <body>
    <div class="outerDiv">
        <h1 id="Name"><%= title %></h1>
        <h1 id="Budget">Budget: <%= budget %></h1>
        <% if (winner === selfid) { %>
            <h1>You have won the last auction!</h1>
        <% } else if (winner.length > 1) {%>
            <h1>You have lost the last auction!</h1>
        <% } %>
        <input id="gameId" type="hidden" value= <%= gameid %> >
        <input id="selfId" type="hidden" value= <%= selfid %> >
    </div>
    <div class="outerDiv">
        <h1 id="sendMoney">Send Money</h1>
        <div>
            <label>Amount</label>
            <input id="sendAmount" type="number">
        </div>
        <% otherPlayers.forEach(function(player){ %>
            <button class="button" onclick="transferMoney(this.nextElementSibling.value, document.getElementById('sendAmount').value)">Send to <%= player %></button>
            <input type="hidden" value= <%= player %> >
        <% }); %>
    </div>
    <% if (auction !== 0) { %>
        <div class="outerDiv">
            <h1 id="betMoney">Bet Money</h1>
            <div>
                <label>Amount</label>
                <input id="betAmount" type="number">
            </div>
            <button class="button" onclick="betMoney(document.getElementById('betAmount').value)">Bet Money</button>
        </div>
    <% } %>
  </body>
</html>
